RewriteEngine on

RewriteCond %{REQUEST_URI} !^/_wordpress/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /_wordpress/$1
RewriteRule ^(/)?$ _wordpress/index.php [L]
